/* HEADER */
header {
  margin: $spacer4 0 $spacer1;
  display: flex;
  align-items: center;
  @include clearfix();
}

.logo {
  width: 96pt;
  height: 96pt;
  background-size: cover;
  border-radius: $border-radius;
  border: $border-width solid $gray-light;
  box-shadow: $gray 5pt 5pt 0pt;
}

nav {
  display: flex;
  justify-content: center;
  font-family: $gray;
  font-size: 1.1rem;
}

nav {
  a {
    flex: 0 1 auto;
    padding: 0 0.25rem;
    margin: $spacer1;
    transition: background 0.1s ease-out;

    &:hover {
      text-decoration: none;
      color: $blue;
      background-color: $gray-light;
    }
    &:focus,
    &:active {
      background-color: $blue;
      text-decoration: none;
      color: #fff;
    }
    &.current {
      font-weight: bold;
    }
  }
}

/* BODY */
body {
  margin: auto;
  max-width: 50em;
  font-family: $font-sans;
  line-height: 1.5;
  padding: 0 $spacer;
  color: $gray;
  background-color: $gray-lightest;
  // a {
  //   color: $gray;
  // }
  // a:hover{
  //   color: var(--blue);
  // }
}

/* FOOTER */
footer {
  margin: 4rem 0 6rem;
  padding-top: $spacer1;
  font-family: $font-serif;
  border-top: 1px solid $gray-light;
}

footer {
  ul, li {
    margin-bottom: 0;
    margin-top: 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
  }
}

.author {
  font-weight: bold;
  margin-left: $spacer0;
}

.source a {
  color: $gray;
}

.links {
  @include clearfix();
}

.contact li,
.source li {

  &:not(:last-child)::after {
    content: '|';
    color: $gray-light;
    margin: 0 .3rem 0 $spacer0;
  }
}

/* CODE */
code, kbd,
pre, samp {
  font-family: $font-monospace;
}
code {
  padding: 0.2rem 0.4rem;
  font-size: 90%;
  background-color: $gray-lighter;
  border-radius: $border-radius;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 90%;
  color: $gray-dark;
}
pre {
  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border-radius: 0;
  }
}

/* OTHER */
// h1,h2,h3,h4,h5,h6 {
//   margin-top: 0;
//   margin-bottom: 0.5rem;
//   font-family: $font-serif;
// }
//
// h1,h2,h3,h4,h5,h6,strong {
//   color: $gray-dark;
// }
//
// h1 {font-size: 2.5rem;}
// h2 {font-size: 2rem;}
// h3 {font-size: 1.5rem;}
// h4 {font-size: 1.3rem;}
// h5 {font-size: 1.2rem;}
// h6 {font-size: 1.1rem;}
