html, body {
   height:100%;
}
body{
  color: #454545;
  font-size: 1.3em;
  font-family: Helvetica, sans-serif;
  margin: 0;
}
h1,h2,h3 {
  color:#454545;
  line-height:1.2;
}
#header{
  max-width: 50%;
  margin: 1em auto;
  padding: 0em;
}
#content{
  max-width: 50%;
  margin:1em auto;
  padding: 0em;
}
#footer{
  bottom: 0;
  background: #333333;
  color: #ffffff;
  padding: 1em 10%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
}
