.project {
  padding: 10pt;
  margin-right: 1rem;
  font-size: 1rem;
}
.project img
{
  box-shadow: var(--gray) 3pt 3pt 0pt;
  border: 1pt solid var(--gray);
  margin-bottom: 0.5rem;
  max-width: 100%;
  max-height: 100%;
  width: 256pt;
  height: 128pt;
  object-fit: fill;
}

.project-title {
  margin-bottom: 1.5rem;
}
.project-title a {
  font-weight: bold;
  border-bottom: 5px solid var(--gray-light);
  padding-bottom: 0.5rem;
}
.project a:hover, a:focus {
  text-decoration: none;
  border-bottom-color: var(--gray);
}
