/************************
 MAIN STYLE SHEET
  - Mobile-first design
  - Primary Layout
  - Primary Components
 ************************/
/************************
 MIXINS
  - These can be copied
    to additional sheets
 ************************/
/************************
 PRIMARY LAYOUT
  - Tags because why not?
 ************************/
 html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-size: 22px;
    color: #333;
  }
  body {
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
  }
  @media (max-width: 880px) {
    body {
      font-size: 0.9rem;
    }
  }
  a {
    text-decoration: none;
    color: #d83467;
  }
  a.no-color {
    color: inherit;
  }
  .small {
    font-size: 0.6em;
  }
  site {
    display: block;
    position: relative;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    box-sizing: padding-box;
    margin: 33px auto;
    max-width: 880px;
    padding: 0 11px;
    padding-right: 15px;
  }
  wrap {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
  }
  top {
    display: flex;
    position: relative;
    width: 100%;
    margin-bottom: 22px;
    align-items: flex-end;
    justify-content: space-between;
  }
  top .info {
    display: flex;
    position: relative;
    width: 100%;
    align-items: flex-end;
    width: auto;
  }
  top .info .site-icon {
    margin-right: 22px;
    display: block;
  }
  top .info .site-icon img {
    border: 1px solid #333;
    box-shadow: #333 6px 6px 0px;
    transition: all 0.18s cubic-bezier(0.215, 0.61, 0.355, 1);
    border: 1px solid #e0e0e0;
    border-radius: 2px;
  }
  top .info .site-icon img:hover {
    border-radius: 22px;
  }
  @media (max-width: 880px) {
    top .info {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }
  top .info h {
    white-space: nowrap;
    overflow: hidden;
    font-weight: 700;
    font-size: 2em;
  }
  top nav {
    margin-top: 22px;
    width: auto;
    align-items: flex-end;
    justify-content: flex-end;
    flex-grow: 1;
  }
  @media (max-width: 880px) {
    top {
      margin: auto;
      margin-bottom: 22px;
      max-width: 453px;
      flex-direction: column;
      align-items: flex-end;
    }
    top nav {
      justify-content: center;
    }
  }
  middle,
  bottom {
    display: block;
    position: relative;
    width: 100%;
  }
  bottom {
    margin-bottom: 22px;
  }
  middle {
    margin-bottom: 44px;
  }
  middle:before {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 11px;
    font-size: 33px;
    content: attr(content-title);
  }
  middle:nth-child(even):before {
    text-align: right;
  }
  middle > * {
    display: block;
    position: relative;
    width: 100%;
  }
  middle > .content,
  middle > .flex > .content {
    display: block;
    position: relative;
    width: 100%;
    padding: 22px;
    background-color: #f0f0f0;
    border-radius: 2px;
    border: 1px solid #333;
    box-shadow: #333 6px 6px 0px;
    box-sizing: border-box;
    box-sizing: padding-box;
    padding: 44px;
  }
  middle > .content h,
  middle > .flex > .content h {
    font-size: 1.2em;
  }
  middle > .content h:not(:empty):last-of-type,
  middle > .flex > .content h:not(:empty):last-of-type {
    margin-bottom: 11px;
  }
  middle > .content h + subh,
  middle > .flex > .content h + subh {
    margin-top: -11px;
    font-style: italic;
  }
  middle > .content section,
  middle > .flex > .content section {
    margin-bottom: 1em;
  }
  middle > .content subh,
  middle > .flex > .content subh {
    margin-bottom: 11px;
  }
  middle > .content p,
  middle > .flex > .content p,
  middle > .content ul,
  middle > .flex > .content ul {
    margin: 0;
    padding: 0;
    margin-bottom: 44px;
  }
  middle > .content p:last-child,
  middle > .flex > .content p:last-child,
  middle > .content ul:last-child,
  middle > .flex > .content ul:last-child {
    margin-bottom: 0;
  }
  middle > .content ul,
  middle > .flex > .content ul {
    margin-left: 33px;
    list-style-type: square;
  }
  middle > .content ul li,
  middle > .flex > .content ul li {
    margin-bottom: 5.5px;
  }
  nav {
    display: flex;
    position: relative;
    width: 100%;
  }
  nav > * {
    margin-right: 22px;
  }
  nav > *:last-child {
    margin-right: 0;
  }
  nav a {
    display: block;
    position: relative;
    width: 100%;
    padding: 22px;
    background-color: #f0f0f0;
    border: 1px solid #333;
    box-shadow: #333 6px 6px 0px;
    transition: all 0.18s cubic-bezier(0.215, 0.61, 0.355, 1);
    border-radius: 2px;
    width: auto;
    padding: 11px 16.5px;
    color: #333;
  }
  nav a:hover {
    border-radius: 22px;
  }
  panel {
    display: block;
    position: relative;
    width: 100%;
    padding: 22px;
    background-color: #f0f0f0;
    border-radius: 2px;
    box-sizing: border-box;
    box-sizing: padding-box;
    border: 1px solid #333;
    box-shadow: #333 6px 6px 0px;
    background-size: cover;
    background-position: center;
  }
  panel.title {
    display: inline-block;
    width: auto;
    font-size: 33px;
    margin-bottom: 22px;
  }
  panel.round {
    border-radius: 22px;
  }
  h,
  subh {
    display: block;
    position: relative;
    width: 100%;
  }
  .flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .flex .content {
    margin-right: 22px;
  }
  .flex .stretch {
    align-self: stretch;
  }
  @media (max-width: 880px) {
    .flex.m-column {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .flex.m-column .content {
      margin-right: 0;
      margin-bottom: 22px;
    }
    .flex.m-column .stretch {
      align-self: center;
    }
  }
  grid-row {
    margin-bottom: 22px;
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    display: flex;
    justify-content: center;
  }
  grid-row > * {
    margin-right: 22px;
  }
  grid-row > *:last-child {
    margin-right: 0;
  }
  a.tile * {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
           not supported by any browser */
    cursor: pointer;
  }
  .tile {
    display: block;
    position: relative;
    width: 100%;
    border: 1px solid #333;
    box-shadow: #333 6px 6px 0px;
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    border-radius: 2px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-color: #333;
    height: 200px;
    width: 10%;
    padding: 22px;
    flex-grow: 1;
  }
  .tile:hover {
    border-radius: 22px;
  }
  .tile .hover-background {
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-color: #333;
    visibility: hidden;
    opacity: 0;
  }
  .tile .content {
    display: block;
    position: relative;
    box-sizing: border-box;
    box-sizing: padding-box;
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    color: #f0f0f0;
    position: absolute;
    left: 0;
    bottom: -40px;
    width: 100%;
    padding: 14.66666667px 11px 14.66666667px 22px;
    background-color: rgba(51, 51, 51, 0.87);
    border-top: 1px solid #f0f0f0;
    opacity: 0;
  }
  .tile:hover:not(.static) {
    max-width: 99999px;
    width: 50%;
    flex-grow: 4;
  }
  .tile:hover:not(.static) .hover-background {
    visibility: visible;
    opacity: 1;
  }
  .tile:hover:not(.static) .content {
    bottom: 0;
    opacity: 1;
  }
  .side-buttons {
    display: flex;
    position: absolute;
    width: auto;
    right: 0;
    top: -2px;
    z-index: 10;
  }
  .side-buttons a {
    display: block;
    position: relative;
    width: 100%;
    padding: 22px;
    background-color: #f0f0f0;
    border: 1px solid #333;
    box-shadow: #333 6px 6px 0px;
    transition: all 0.18s cubic-bezier(0.215, 0.61, 0.355, 1);
    border-radius: 2px;
    width: auto;
    font-size: 0.8em;
    padding: 0.4em 0.6em;
    color: #333;
    margin-right: 11px;
  }
  .side-buttons a:hover {
    border-radius: 22px;
  }
  .side-buttons a:last-child {
    margin-right: 0;
  }
  .full-area {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  overlay {
    display: block;
    position: relative;
    transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    position: fixed;
    width: 100%;
    left: 0;
    top: unset;
    bottom: 0;
    height: 0%;
    z-index: 999;
    overflow: hidden;
    overflow-y: scroll;
    background-color: rgba(224, 224, 224, 0.97);
    border-bottom: none;
    border-top: 22px solid #333;
    margin-bottom: -22px;
  }
  overlay .bg-toggle {
    display: block;
    position: relative;
    position: fixed;
    width: 100%;
    height: 100%;
  }
  overlay .overlay-top {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  @media (max-width: 880px) {
    overlay .overlay-top {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  overlay .overlay-top .title {
    white-space: nowrap;
  }
  overlay .overlay-top .title a {
    color: #333;
  }
  overlay .overlay-top .overlay-buttons {
    display: flex;
    position: relative;
    width: 100%;
    margin-left: 44px;
    margin-bottom: 22px;
    justify-content: flex-end;
    flex-grow: 1;
  }
  @media (max-width: 880px) {
    overlay .overlay-top .overlay-buttons {
      justify-content: center;
      margin-left: 0;
    }
  }
  overlay .overlay-top .overlay-buttons a,
  overlay .overlay-top .overlay-buttons label {
    margin: 0;
    padding: 0;
    margin-right: 22px;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
           not supported by any browser */
    cursor: pointer;
  }
  overlay .overlay-top .overlay-buttons a g,
  overlay .overlay-top .overlay-buttons label g {
    display: block;
    position: relative;
    width: 100%;
    border: 1px solid #333;
    box-shadow: #333 6px 6px 0px;
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    font-size: 1.2em;
    width: 1em;
    height: 1em;
    padding: 0.5em;
    border-radius: 2px;
    color: #333;
    background-color: #f0f0f0;
  }
  overlay .overlay-top .overlay-buttons a i,
  overlay .overlay-top .overlay-buttons label i {
    display: block;
    position: relative;
    width: 100%;
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    text-align: center;
    transform: scale(1.2);
  }
  overlay .overlay-top .overlay-buttons a:hover g,
  overlay .overlay-top .overlay-buttons label:hover g {
    border-radius: 50%;
  }
  overlay .overlay-top .overlay-buttons a:hover i,
  overlay .overlay-top .overlay-buttons label:hover i {
    transform: scale(0.9);
  }
  overlay .overlay-top .overlay-buttons a:last-child,
  overlay .overlay-top .overlay-buttons label:last-child {
    margin-right: 0;
  }
  overlay::-webkit-scrollbar {
    width: 10px;
  }
  overlay::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 999px;
  }
  overlay::-webkit-scrollbar-thumb {
    border-radius: 999px;
    background: #c4c4c4;
  }
  overlay::-webkit-scrollbar-thumb:hover {
    background: yellow !important;
  }
  .overlay-toggle {
    display: none;
  }
  .overlay-toggle:checked + overlay {
    height: 100%;
    top: 0;
    bottom: unset;
    border-bottom: 22px solid #333;
    border-top: none;
  }
  slide-view {
    display: flex;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    box-sizing: padding-box;
    margin-bottom: 22px;
    overflow: hidden;
    padding: 0 10px 12px 0;
  }
  slide-view slide {
    display: block;
    position: relative;
    width: 100%;
    border: 1px solid #333;
    box-shadow: #333 6px 6px 0px;
    height: 440px;
    flex-grow: 1;
    background-color: #333;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 22px;
  }
  slide-view slide a {
    display: block;
    position: relative;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
  }
  slide-view .slide-toggle {
    display: none;
  }
  slide-view .slide-toggle + slide {
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), order 0s linear;
    width: 0%;
    order: 997;
    border-width: 0;
    opacity: 0;
  }
  slide-view .slide-toggle:checked + slide {
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0s linear, order 0s linear;
    margin-right: 22px;
    width: 100%;
    order: 998;
    opacity: 1;
  }
  slide-view thumb-list {
    display: flex;
    position: relative;
    width: 100%;
    order: 999;
    width: 110px;
    flex-direction: column;
    align-items: stretch;
  }
  slide-view thumb-list thumb {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 22px;
    border: 1px solid #333;
    box-shadow: #333 6px 6px 0px;
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    border-radius: 22px;
    background-size: cover;
    background-position: center;
    flex-grow: 1;
    transform: scale(0.9);
  }
  slide-view thumb-list thumb:hover {
    transform: scale(1);
  }
  slide-view thumb-list thumb:last-child {
    margin-bottom: 0;
  }
  slide-view thumb-list thumb label {
    display: block;
    position: relative;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
           not supported by any browser */
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  slide-view #slide0 ~ thumb-list #thumb0 {
    flex-grow: 10000;
    opacity: 1;
  }
  slide-view #slide0:checked ~ thumb-list #thumb0 {
    flex-grow: 0;
    border-width: 0;
    opacity: 0;
    margin-top: -22px;
  }
  slide-view #slide1 ~ thumb-list #thumb1 {
    flex-grow: 10000;
    opacity: 1;
  }
  slide-view #slide1:checked ~ thumb-list #thumb1 {
    flex-grow: 0;
    border-width: 0;
    opacity: 0;
    margin-top: -22px;
  }
  slide-view #slide2 ~ thumb-list #thumb2 {
    flex-grow: 10000;
    opacity: 1;
  }
  slide-view #slide2:checked ~ thumb-list #thumb2 {
    flex-grow: 0;
    border-width: 0;
    opacity: 0;
    margin-top: -22px;
  }
  slide-view #slide3 ~ thumb-list #thumb3 {
    flex-grow: 10000;
    opacity: 1;
  }
  slide-view #slide3:checked ~ thumb-list #thumb3 {
    flex-grow: 0;
    border-width: 0;
    opacity: 0;
    margin-top: -22px;
  }
  slide-view #slide4 ~ thumb-list #thumb4 {
    flex-grow: 10000;
    opacity: 1;
  }
  slide-view #slide4:checked ~ thumb-list #thumb4 {
    flex-grow: 0;
    border-width: 0;
    opacity: 0;
    margin-top: -22px;
  }
  slide-view #slide5 ~ thumb-list #thumb5 {
    flex-grow: 10000;
    opacity: 1;
  }
  slide-view #slide5:checked ~ thumb-list #thumb5 {
    flex-grow: 0;
    border-width: 0;
    opacity: 0;
    margin-top: -22px;
  }
  slide-view #slide6 ~ thumb-list #thumb6 {
    flex-grow: 10000;
    opacity: 1;
  }
  slide-view #slide6:checked ~ thumb-list #thumb6 {
    flex-grow: 0;
    border-width: 0;
    opacity: 0;
    margin-top: -22px;
  }
  slide-view #slide7 ~ thumb-list #thumb7 {
    flex-grow: 10000;
    opacity: 1;
  }
  slide-view #slide7:checked ~ thumb-list #thumb7 {
    flex-grow: 0;
    border-width: 0;
    opacity: 0;
    margin-top: -22px;
  }
  slide-view #slide8 ~ thumb-list #thumb8 {
    flex-grow: 10000;
    opacity: 1;
  }
  slide-view #slide8:checked ~ thumb-list #thumb8 {
    flex-grow: 0;
    border-width: 0;
    opacity: 0;
    margin-top: -22px;
  }
  info-panel {
    display: block;
    position: relative;
    width: 100%;
    padding: 22px;
    background-color: #f0f0f0;
    border-radius: 2px;
    width: auto;
    padding: 0 0 22px 44px;
    margin: 0 0 22px 44px;
    float: right;
    border-left: 1px solid #333;
  }
  @media (max-width: 880px) {
    info-panel {
      display: block;
      float: none;
      margin-left: 0;
      border-left: none;
      text-align: center;
      padding-left: 0;
    }
  }
  a[href*="$"],
  *[content*="$"],
  [listcontent]:not([listcontent="list"]),
  [singlecontent="list"] {
    display: none;
  }
  .curtain-controller {
    display: none;
  }
  .curtain-controller + .curtain {
    z-index: 99999;
    opacity: 1;
  }
  .curtain {
    transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #f0f0f0;
    opacity: 0;
    z-index: -1000;
  }
  @media (max-width: 880px) {
    .keep-square {
      width: 50%;
      height: 0;
      padding-top: 50%;
    }
  }
  