// variables
$gray: #4d4d4d;
$gray-dark: #333;
$gray-light: #999;
$gray-lighter: #eceeef;
$gray-lightest: #fafaf8;
$blue: #4072AF;
$blue-dark: darken($blue, 20%);

$font-sans: "Computer Modern Sans", sans-serif;
$font-monospace: "Computer Modern Typewriter", monospace;
$font-serif: "Computer Modern Serif", serif;

$border-width: 4px;
$border-radius: 50%;
$border-radius-small: 0.2em;
$border-radius-large: 0.3em;

$spacer: 1rem;
$spacer0: $spacer/2;
$spacer1: $spacer * 1.5;
$spacer2: $spacer * 2;
$spacer3: $spacer * 2.5;
$spacer4: $spacer * 3;

$lh:                        1.5;
$lh-sm:                     1.1;
$lh-md:                     1.6;

$fs-root:                   16px;
$fs:                        1rem;
$fs-md:                     1.25rem;

$fs-h1:                     1.602em;
$fs-h2:                     1.424rem;
$fs-h3:                     1.266rem;
$fs-h4:                     1.125rem;
$fs-h5:                     1rem;
$fs-h6:                     0.889rem;

$fs-md-h1:                  2.441rem;
$fs-md-h2:                  1.953rem;
$fs-md-h3:                  1.563rem;
$fs-md-h4:                  1.25rem;
$fs-md-h5:                  1rem;
$fs-md-h6:                  .8rem;
