<h2>About Me</h2>
<p>I'm a student interested in Computer Science, Artificial Intelligence, and Game Design. I like to play and make games, experiment programming things, learn about topics in Math and various technology, and dream about developing a more meaningful world.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="resume.pdf">Résumé</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-briefcase fa-lg main-list-item-icon"></span>
    <a href="portfolio.html">Portfolio</a>
  </li>
</ul>
