@font-face {
	font-family: 'Computer Modern Serif';
	src: url('/assets/font/cmunrm.eot');
	src: url('/assets/font/cmunrm.eot?#iefix') format('embedded-opentype'),
		 url('/assets/font/cmunrm.woff') format('woff'),
		 url('/assets/font/cmunrm.ttf') format('truetype'),
		 url('/assets/font/cmunrm.svg#cmunrm') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Computer Modern Serif';
	src: url('/assets/font/cmunbx.eot');
	src: url('/assets/font/cmunbx.eot?#iefix') format('embedded-opentype'),
		 url('/assets/font/cmunbx.woff') format('woff'),
		 url('/assets/font/cmunbx.ttf') format('truetype'),
		 url('/assets/font/cmunbx.svg#cmunbx') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Computer Modern Serif';
	src: url('/assets/font/cmunti.eot');
	src: url('/assets/font/cmunti.eot?#iefix') format('embedded-opentype'),
		 url('/assets/font/cmunti.woff') format('woff'),
		 url('/assets/font/cmunti.ttf') format('truetype'),
		 url('/assets/font/cmunti.svg#cmunti') format('svg');
	font-weight: normal;
	font-style: italic;
}


@font-face {
	font-family: 'Computer Modern Serif';
	src: url('/assets/font/cmunbi.eot');
	src: url('/assets/font/cmunbi.eot?#iefix') format('embedded-opentype'),
		 url('/assets/font/cmunbi.woff') format('woff'),
		 url('/assets/font/cmunbi.ttf') format('truetype'),
		 url('/assets/font/cmunbi.svg#cmunbi') format('svg');
	font-weight: bold;
	font-style: italic;
}


